
$body-color: #2A2B2A;

$theme-colors: (
  dark: #232323,
  light: #d0d0d0,
  primary: #53A548,
  secondary: #FFDD00
);

$alert-border-radius:               5px;
$link-color:                rgb(72, 142, 63);
$font-weight-bold:            900 !default;
$input-border-radius: 0px;
$input-border-radius-sm: 0px;

$font-family-sans-serif: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:      'Nunito Sans', Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   'Nunito Sans', Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;



$navbar-light-color: rgba(#000, .6);
$navbar-light-hover-color: rgba(#000, .7);
$navbar-light-active-color: rgba(#212529, .9);





