
$body-color: #2A2B2A;

$theme-colors: (
  dark: #232323,
  light: #d0d0d0,
  primary: #53A548,
  secondary: #FFDD00
);
/*5cc72a
  primary: #53A548,

$theme-colors: (
  dark: #232323,
  light: #d0d0d0,
  primary: #28a745,
  secondary: #FFDE07
);

*/

$input-border-radius: 0px;
$input-border-radius-sm: 0px;

$font-family-sans-serif: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:      'Nunito Sans', Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   'Nunito Sans', Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;





$modal-inner-padding:               1rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;


// $modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-radius:      0px;
//$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
// $modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 rgb(67, 64, 42) ;
$modal-backdrop-opacity:            .6;
$modal-inner-padding:              2rem;


$modal-transition:                  transform .3s ease-out !default;

