
.sw-input{
    padding-bottom: 10px;
    background-color: #f2f2f2 !important;
    background-color: #f2f0ea !important;
    background-color: #f4f2ed !important;

    color: #232323 ;
    border: solid 1px transparent !important ;
    font-size: 1.2em !important;
    font-weight: 600;
    max-width: 300px;
    width: 300px;

}

input.sw-input{
    padding: 20px 13px;
    border-radius: 5px;

   // max-height: none;
}
.date-whole.sw-input{
    padding: 6px 13px;
    padding-top: 6px;
    width: 155px;
    height:42px;
    margin-right:0px;

}


.sw-input.is-invalid{
    background-color: #dc354625 !important;
 }
.noFocus:active,
.noFocus:focus
{
color: #232323;
   box-shadow: inset 0 -1px 0 #ddd;
   outline: 0;
   box-shadow:none !important;
   -webkit-appearance:none !important;

}


.radius-right-0{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-right: 0px;
}
.radius-left-0{
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}



.sw-input::placeholder{
    font-weight: 300;
    font-size: .9em;
}


select.sw-input{
    min-width: 140px;
    max-width: 140px;
    height: 42px;

}

.sw-input.noBorder,.sw-input.noBorder{
    border: solid 1px transparent ;
 }
 .sw-input.noBorder.is-invalid{
    border-color: #dc3545;
 }



 @media only screen and (min-width : 722px) {

    .form-group{
        min-height: 70px;
    }
    .date-whole.sw-input{
        width: 150px;
    }
    select.sw-input{
        min-width: 150px;    
    }
 }


 @media only screen and (min-width : 968px) {

    .form-group{
        min-height: 70px;
    }
    .date-whole.sw-input{
        width: 150px;
     
    }
    select.sw-input{
        min-width: 10px;    
    }
 }
