
.layout_area{
  width: 100%;
  position: relative;
  //padding: 20px;
}

.layout_area.noscroll{
//overflow: hidden;
//position: fixed;
}


@media only screen and (min-width : 722px) {
  .page_minheight{
    min-height: 500px;
  }
  .layout_area_top{
    padding-top: 50px;
    }
  
  .layout_area{
  //  padding: 50px;
 // padding-top: 50px;
 //smin-height: 400px;
  }

}


@media screen and (min-width : 992px)  {

  .layout_area{
   padding-left: 50px;
   padding-right: 50px;
  }

}